<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: "alert alert-info" %>
<% end %>
	<%= link_to '<<Back', user_faqs_path, class: 'btn btn-link' %>
	<div class= 'btn btn-primary floating_button' onclick="div_show()", id = "popup", alt= "Create QA">
		<%= image_tag('add2x.png')%>
	</div>

	<div>
		<% @questions.each do |q|%>
			<div class="row qmain distant card">
				<div class="qtop distant">					
					<div class="qleft">
						<div class="qhead distant">
							<%= link_to  q.content, user_faq_question_path(@user, @faq, q) %>
						</div>
						<div class="qanswer distant">
							<%= q.answer %>
						</div>
					</div>
					<div class="qright">
						<div class="voteup"><%= link_to image_tag('up2x.png', class: 'voteimg'), like_user_faq_question_path(@user, @faq, q), method: :put %></div>
						<div class="vrating"><%= q.get_upvotes.size %></div>
						<div class="votedown"><%=link_to image_tag('down2x.png', class: 'voteimg'), dislike_user_faq_question_path(@user, @faq, q), method: :put %></div>
					</div>
				</div>
				<div class="qbottom row">
					<div class="col-sm-10 col-xs-8">
						<%= link_to image_tag('comment1x.png'), comment_path(:new, user_id: q.faq.user_id, question_id: q.id), id: "comment_but_#{q.id}", remote: true %>
					</div>
					<div id="comment_count_<%= q.id %>" class="col-sm-2 col-xs-4 right">
						<%= link_to "#{q.comments.size} comments", comments_path(user_id: q.faq.user_id, question_id: q.id), remote: true %>
					</div>
				</div>
				<div id="more_comment_<%= q.id %>" class="container"></div>
			</div>
		<% end %>
	</div>


<div id="body" style="overflow:hidden;">
	<div id="abc">
<!-- Popup Div Starts Here -->
<div id="popupContact">
<%= form_for :question, url: {action: 'create'}, :html => {:id => "form"} do |f| %>
<% if @question.nil? && @question.error.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@question.errors.count, "error") %> prohibited this content from being saved:</h2>
    <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
  <%= image_tag "close.png", :onclick=>"div_hide()", :id => "close" %>
  <h2 id="h2">Questions & Answers</h2>
  <hr>
  <%= f.text_field :content, placeholder: 'Question' %><br />
  <%= f.text_area :answer , placeholder: 'Answer'%><br />
  <%= f.submit 'Create QA', class: 'btn btn-primary' %>
<% end %>
</div>
</div>
</div>

  <!-- <img id="close" src="close.png" onclick ="div_hide()"> -->
<!-- Contact Us Form -->
<!-- <form action="#" id="form" method="post" name="form">

<img id="close" src="close.png" onclick ="div_hide()">
<h2>Questions & Answers</h2>
<hr>
<input id="ques" name="name" placeholder="Question" type="text">
<textarea id="ans" name="message" placeholder="Answer"></textarea>
<a href="javascript:%20check_empty()" id="submit">Add QA</a>
</form> -->
<!-- Popup Div Ends Here -->