<tr id='edit_faq_<%= @faq.id%>'>
	<td><%= link_to @faq.title, user_faq_questions_path(@faq.user_id, @faq) %></td>
	<td><%= @faq.created_at %></td>
	<td><%= link_to 'Edit', edit_user_faq_path(@faq.user_id, @faq) %></td>
	<td><%= link_to 'Delete', user_faq_path(@faq.user_id, @faq), method: :delete %></td>
</tr>