

<div class='container'>
	<div class="row">		
		<h1>Faqs#index</h1>
		<p>Find me in app/views/faqs/index.html.erb</p>
		<br>
		<h3>FAQs for <%= @user.name.capitalize %></h3>
		<%= link_to 'Add FAQ', user_faq_path(:new, user_id: @user.id), id: 'new_link', class: 'btn btn-primary', remote: true %><br>
	</div>
	<div class='row'>
		<table id="append">
			<tr>
				<th>Title</th>
				<th>Created</th>
			</tr>
			<% if !@faqs.nil? %>
				<% @faqs.each do |f| %>
					<tr id='edit_faq_<%= f.id%>'>
						<td><%= f.title %></td>
						<td><%= f.created_at %></td>
						<td><%= link_to 'Show', user_faq_path(@user, f) %></td>
						<td><%= link_to 'Delete', user_faq_path(@user, f), method: :delete, remote: true %></td>
					</tr>
				<% end %>
			<% end %>
		</table>
	</div>
</div>
